<div id="SI" ng-controller="SR">
  <div id="count_down" ng-show="get_timer_value() &amp;&amp; get_timer_value() != 0">
    TIME LEFT<br> <b><span id="count_down_value">{{ get_timer_value() }}</span>
      <span id="count_down_unit">sec</span>
    </b>
  </div>
  <div id="count_down_spacer" ng-hide="get_timer_value() &amp;&amp; get_timer_value() != 0">
  </div>

  <div id="content" class="SI TextScreen">

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- WAITING FOR INDIVIDUAL ANSWERS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <div ng-show="questions[0].type == 'wait_for_individual'">
      <h2>Sentence {{ questions[0].id }}</h2>

      <p>Once you are all in front of the computer you can press NEXT to write the sentece as a GROUP.</p>
      <p/>
      <p>You can use underscores "___" to fill the parts of the sentence that you did not undersatnd or do not remember. 

    </div>

    <!-- ~~~~~~~~~~~~~~~~ -->
    <!-- WRITING SENTENCE -->
    <!-- ~~~~~~~~~~~~~~~~ -->

    <div ng-show="questions[0].type == 'write_sentence' &amp;&amp; get_timer_value() > 0">
      <h2>Sentence {{ questions[0].id }}</h2>

      <p>Write the sentence you have listened in the box below.</p>

      <input type="text" ng-keypress="($event.which == 13)?next():0"
        ng-model="responses[ prefix + questions[0].id + '.' + questions[0].type ]" style="width: 1200px">

      <button class="submit" ng-click="next()" ng-class="{enabled: is_next_allowed()}">Submit</button>
    </div>


    <div ng-show="questions[0].type == 'initial_guess' &amp;&amp; get_timer_value() == 0">
      <h2>Sentence {{ questions[0].id }}</h2>

      <p>You were not fast enough! Please respond within {{ questions[0].timeout }} seconds.</p>
    </div>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- GO BACK TO INDIVIDUAL COMPUTERS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <div ng-show="questions[0].type == 'go_to_individual'">
      <h2>Sentence {{ questions[0].id}}</h2>

      <div ng-if="questions[0].id < 3">
        <p>Please, go back to your INDIVIDUAL computer to listen to the next sentence.</p>

      </div>

      <div ng-if="questions[0].id == 3">
        <p>Please, go to the GROUP area, take the tablet and sit on the chair with your number.</p>
        <p/>
        <p>Unlock the tablet and read the instructions to start the next TASK.</p>

      </div>

    </div>

    <!--<button ng-click="reset_all_timers()">RESET ALL TIMERS</button>-->
  </div>

  <div id="footer" ng-include="'templates/buttons.html'"></div>
</div>
