<div id="SI" ng-controller="SI">
  <div id="count_down" ng-show="get_timer_value() &amp;&amp; get_timer_value() != 0">
    TIME LEFT<br> <b><span id="count_down_value">{{ get_timer_value() }}</span>
      <span id="count_down_unit">sec</span>
    </b>
  </div>
  <div id="count_down_spacer" ng-hide="get_timer_value() &amp;&amp; get_timer_value() != 0">
  </div>

  <div id="content" class="SI TextScreen">

    <div ng-show="questions[0].type == 'intro'">
      <h2>Question {{ questions[0].question.id }}</h2>

        <div ng-if="questions[0].question.id == 1">
          <p>Listen to the following audio fragment.<p>

          <audio id="fragment"
              src="../individual/Tasks/SI/Resources/AudioFragment.mp3">
            Your browser does not support HTML5 audio.
          </audio>

          <button id="play" class="btn" type="button" onclick="play()">Click to play</button>
        </div>

      <p>Click next to continue to question {{ questions[0].question.id }}. You will have {{ questions[0].question.timeout }} seconds to answer the question. After answering the question, press SUBMIT.</p>
    </div>

    <!-- ~~~~~~~~~~~~~ -->
    <!-- INITIAL GUESS -->
    <!-- ~~~~~~~~~~~~~ -->

    <div ng-show="questions[0].type == 'initial_guess' &amp;&amp; get_timer_value() > 0">
      <h2>Question {{ questions[0].question.id }}</h2>

      <img ng-if="questions[0].question.id == 3"
          ng-src="{{ resources + 'Resources/Dots.png' }}" style="width: 500px; margin-bottom: 20px; margin-top: 15px;">

      <p>{{ questions[0].question.question }}</p>

      <input type="text" ng-keypress="($event.which == 13)?next():0"
        ng-model="responses[ prefix + questions[0].question.id + '.' + questions[0].type ]" style="width: 60px">
      <span ng-if="responses[ prefix + questions[0].question.id ] == 1">{{ questions[0].question.unit[0] }}</span>
      <span ng-if="responses[ prefix + questions[0].question.id ] != 1">{{ questions[0].question.unit[1] }}</span>

      <button class="submit" ng-click="next()" ng-class="{enabled: is_next_allowed()}">Submit</button>
    </div>


    <div ng-show="questions[0].type == 'initial_guess' &amp;&amp; get_timer_value() == 0">
      <h2>Question {{ questions[0].question.id }}</h2>

      <p>You were not fast enough! Please respond within {{ questions[0].question.timeout }} seconds.</p>
    </div>


    <!-- ~~~~~~~~~~~~~ -->
    <!-- AFTER AVERAGE -->
    <!-- ~~~~~~~~~~~~~ -->

    <div ng-show="questions[0].type == 'after_average' &amp;&amp; get_timer_value() > 0">
      <h2>Question {{ questions[0].question.id}}</h2>

      <p>Average answer of the previous 10 participants: <b>{{ get_average() }}</b></p>

      <p>{{ questions[0].question.question }}</p>

      <input type="text" ng-keypress="($event.which == 13)?next():0"
        ng-model="responses[ prefix + questions[0].question.id + '.' + questions[0].type ]" style="width: 60px">
      <span ng-if="responses[ prefix + questions[0].question.id ] == 1">{{ questions[0].question.unit[0] }}</span>
      <span ng-if="responses[ prefix + questions[0].question.id ] != 1">{{ questions[0].question.unit[1] }}</span>

      <button class="submit" ng-click="next()" ng-class="{enabled: is_next_allowed()}">Submit</button>
    </div>

    <div ng-show="questions[0].type == 'after_average' &amp;&amp; get_timer_value() == 0">
      <h2>Question {{ questions[0].question.id }}</h2>

      <p>You were not fast enough! Please respond within {{ questions[0].question.timeout }} seconds.</p>
    </div>

    <!--<button ng-click="reset_all_timers()">RESET ALL TIMERS</button>-->

    <script>
      function get_scope()
      {
        var element = angular.element(document.getElementById("SI"));
        return element.scope();
      }

      function play() {
        var audio = document.getElementById('fragment');
        var button = document.getElementById('play');

        audio.onplaying = function() {
          button.innerHTML = "Playing...";

          var scope = get_scope();
          scope.$apply(function() {
            scope.responses['SI.1.playing'] = true;

            var key = 'SI.1.play_count';

            if(key in scope.responses) {
              scope.responses[key] =
                scope.responses[key] + 1;
            } else {
              scope.responses[key] = 1;
            }
          });
        }

        audio.onended = function() {
          button.innerHTML = "Click to play";

          var scope = get_scope();
          scope.$apply(function() {
            scope.responses['SI.1.playing'] = false;
          });
        }

        audio.play();
      }
    </script>
  </div>

  <div id="footer" ng-include="'templates/buttons.html'"></div>
</div>
